div.dropDown {
    display: inline-block;
    height: 30px;
    margin: 0;
    white-space: nowrap;


    left: 20px;
    top: 3px;
    width: 250px;
}

/* dropDown__control ------------------------------------------------------------------------------ */
div.dropDown__control {
    background: linear-gradient(to bottom, var(--light-gray), var(--dark-gray));
    border-radius: 5px;
    border: 1px solid var(--lightest-gray);
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    min-height: 30px;
}

div.dropDown__control:hover {
    background: var(--light-gray);
    border: 1px solid var(--lightest-gray);
    transition: none;
}

div.dropDown__control--menu-is-open {
    background: linear-gradient(to bottom, var(--light-gray), var(--dark-gray));
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* dropDown__value-container ---------------------------------------------------------------------- */
div.dropDown__value-container {
    color: var(--light-blue);
    height: 30px;
    padding: 0px 8px 0px 8px;
}

div.dropDown__input {
    color: var(--light-blue);
    height: 14px;
    left: -2px;
    position: relative;
    top: -3px;
}

div.dropDown__placeholder {
    color: var(--light-blue-transparent);
    height: 14px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    top: 14px;
    margin: 0;
    text-overflow: ellipsis;
}

div.dropDown__single-value {
    color: var(--light-blue);
    height: 14px;
    margin: 0;
    top: 14px;
}

/* dropDown__indicators --------------------------------------------------------------------------- */
div.dropDown__indicators {
    height: 30px;
}

span.dropDown__indicator-separator {
    background: var(--lightest-gray);
    height: 20px;
    margin: auto 0;
    width: 1px;
}

div.dropDown__indicator {
    color: var(--light-blue);
    height: 30px;
    padding: 4px;
    transition: none;
    width: 30px;
}

div.dropDown__indicator:hover {
    color: var(--light-blue);
}

div.dropDown__indicator:active {
    color: var(--light-blue-transparent);
}

/* dropDown__menu --------------------------------------------------------------------------------- */
div.dropDown__menu {
    background: var(--light-gray);


    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;

    box-shadow: 0 2px 2px var(--black);
    /* border-bottom: 1px solid var(--lightest-gray);
    border-left: 1px solid var(--lightest-gray);
    border-right: 1px solid var(--lightest-gray); */
}

div.dropDown__option {
    background: transparent;
    color: var(--light-blue);
    cursor: pointer;



    /* height: 29px; */
    padding-left: 9px;
    padding-right: 9px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

div.dropDown__option:hover {
    background: var(--lighter-gray);
}

div.dropDown__option:active {
    color: var(--light-blue-transparent);
    background: var(--lighter-gray);
}

div.dropDown__option.dropDown__option--is-selected {
    background: var(--lighter-gray);
}
