:root {
    --titleBarFontSize: 18px;
    --spafaxLogoWidth: 80px;
    --titleBarBtnWidth: 48px;
    --titleBarHeight: 30px;
}

.drag {
    -webkit-app-region: drag;
}

#titleBar {
    background: var(--medium-purple);
    height: var(--titleBarHeight);
    text-align: center;
}

#spafaxLogo {
    background: var(--dark-purple);
    float: left;
    height: var(--titleBarHeight);
    width: var(--spafaxLogoWidth);
}

#title {
    display: inline-block;
    height: var(--titleBarHeight);
    position: relative;
    left: calc((var(--titleBarBtnWidth) * 3 - var(--spafaxLogoWidth)) / 2);
}

.titleBarText {
    font-size: var(--titleBarFontSize);
    letter-spacing: -.5px;
    position: relative;
    top: calc((var(--titleBarHeight) - var(--titleBarFontSize)) / 2);
}

#titleBarBtnsBox {
    cursor: pointer;
    float: right;
    height: var(--titleBarHeight);
}

.titleBarBtn  {
    background: var(--medium-purple);
    display: inline-block;
    height: calc(var(--titleBarHeight) - 10px);
    padding-bottom: 5px;
    padding-top: 5px;
    width: var(--titleBarBtnWidth);
}

.titleBarBtn:hover {
    background: var(--dark-purple);
}

#closeBtn:hover {
    background: var(--light-red);
}