.drag {
    -webkit-app-region: drag;
}

#titleBar {
    background: var(--medium-purple);
    height: 30px;
    width: 100%;
}

#spafaxLogo {
    background: var(--dark-purple);
    float: left;
    height: 30px;
    text-align: center;
    width: 80px;
}

#title {
    display: inline-block;
    height: 30px;
    text-align: center;
}

.titleBarText {
    font-size: 15pt;
    letter-spacing: -.5px;
    position: relative;
    top: 4px;
}

#windowBtnsBox {
    cursor: pointer;
    float: right;
    height: 30px;
}

.titleBarBtn  {
    display: inline-block;
    background: var(--medium-purple);
    font-size: 30px;
    padding: 0px 10px 0px 10px;
}

.titleBarBtn:hover {
    background: var(--dark-purple);
}