.dataTableWrapper {
    position: sticky;
    width: 100%;
}

table#dataTable {
    color: var(--dark-white);
    border-radius: 5px;
    border: 1px solid var(--lightest-gray);
    padding: 1px 10px 10px 10px;
    background: var(--darkest-gray);
}

div#dataTable_filter > label > input {
    margin-bottom: 20px;
}

.dataTableDeleteBtn {
    color: var(--light-red);
}

.dataTableDeleteBtn:active {
    color: var(--light-red-transparent);
}

/* table#dataTable > thead {
    background-color: red;
} */

#dataTableTextBox {
    position: initial;
}

#dataTable > tbody > tr > td > div.button {
    position: initial;
}



#dataTable > tbody > tr.odd {
    background-color: var(--medium-gray);
}

#dataTable > tbody > tr.even {
    background-color: var(--dark-gray);
}

#dataTable > tbody > tr:hover {
    background-color: var(--light-gray);

}

/* #dataTable > tbody > tr:not(:last-child) > td {
    border-top: 1px solid var(--lightest-gray);
} */

/* #dataTable > tbody > tr > td {
    border-top: 1px solid var(--lightest-gray);
} */

#dataTable > tbody > tr > td {
    padding: 4px 10px 4px 10px;
}

#dataTable > tbody > tr > td:last-child {
    padding: 4px 2px 4px 2px;
}

#dataTable > thead > tr > th {
    padding: 8px 20px 8px 10px;
    /* height: 30px; */
    background-color: var(--darkest-gray);
    color: var(--light-blue);
    font-weight: 400;
}

#dataTable > thead > tr > th[aria-sort] {
    color: var(--light-teal);
}
