#dataTableWrapper {

    height: 600px;
    position: relative;
    top: 300px;
    background: black;
}

#dataTable {

    color: var(--dark-white);
}

#dataTable > tbody > tr {
    background: var(--dark-gray) !important;
}