.button, .buttonInactive {
    background: linear-gradient(to bottom, var(--light-gray), var(--dark-gray));
    border: 1px solid var(--lightest-gray);
    border-radius: 5px;
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 5px 8px 7px 8px;
    position: absolute;
}

.button {
    color: var(--light-blue);
    cursor: pointer;
}

.buttonInactive {
    color: var(--light-blue-transparent);
    cursor: default;
}

.button:hover {
    background: var(--light-gray);
}

.button:active {
    color: var(--light-blue-transparent);
}
