:root {
    --light-white: rgba(248,248,248,1.0);
    --medium-white: rgba(232,232,232,1.0);
    --dark-white: rgba(192,192,192,1.0);
  
    --lightest-gray: rgba(96,96,96,1.0);
    --lighter-gray: rgba(72,72,72,1.0);
    --light-gray: rgba(48,48,48,1.0);
    --medium-gray: rgba(36,36,36,1.0);
    --dark-gray: rgba(24,24,24,1.0);

    --black: rgba(0,0,0,1.0);

    --light-purple: rgba(151,64,250,1.0);
    --medium-purple: rgba(93,31,153,1.0);
    --dark-purple: rgba(50,27,99,1.0);

    --light-blue: rgba(0,204,255,1.0);
    --light-blue-transparent: rgba(0,204,255,0.4);

    --light-teal: rgba(53,212,199,1.0);

    --light-red: rgba(255,80,80,1.0);
    --light-green: rgba(42,252,156,1.0);

    --defaultFontSize: 13.333px;

    --titleBarFontSize: 18px;
    --titleBarLogoWidth: 180px;
    --titleBarBtnWidth: 48px;
    --titleBarHeight: 30px;

    --navBarHeight: 30px;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    user-select: none;
    -webkit-app-region: none;
}

html, body {
    background: var(--dark-gray);
    color: var(--light-white);
    cursor: default;
    font-family: "Roboto-Regular" !important;
    font-size: var(--defaultFontSize) !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

input {
    font-family: "Roboto-Regular" !important;
}

#root {
    height: inherit;
    width: inherit;
}
